<%- include('../partials/header.ejs', { title: 'Snippets' }) %>

    <div class="float">
        <a href="/new">Création d'un nouveau Snippet</a>
    </div>

    <% snippets.forEach(snippet => { %>
        <% 
            const creationDate = new Date(snippet.creationDate);
            const formattedDate = creationDate.toLocaleDateString('fr-FR');
            const formattedTime = creationDate.toLocaleTimeString('fr-FR');
        %>
        <div class="card">
            <% if (user.id === snippet.author.id) { %>
                <a class="edit-link" href="/edit/<%= snippet.id %>">Modifier le snippet</a>
                <hr />
            <% } %>
            <h3>
                <i class="<%= snippet.Language.logo %> colored"></i>
                <%= snippet.title %>
            </h3>
            <pre>
                <code class="<%= snippet.Language.htmlClass %>">
                    <%= snippet.code %>
                </code>
            </pre>
            <p><%= snippet.description %></p>

            <span class="author">Rédigé par <%= snippet.author.name %> le
                <%= formattedDate %> à <%= formattedTime %>
            </span>
        </div>
    <% }); %>
    <script src="/js/prism.js"></script>

<%- include('../partials/footer.ejs') %>