<%- include('../partials/header.ejs') %>

    <% snippets.forEach(snippet => { %>
        <div class="card">
            <h3>
                <i class="<%= snippet.Language.logo %> colored"></i>
                <%= snippet.title %>
            </h3>
            <pre>
                <code class="<%= snippet.Language.htmlClass %>">
                    <%= snippet.code %>
                </code>
            </pre>
            <p><%= snippet.description %></p>
            <p><%= snippet.creationDate %></p>
        </div>
    <% }); %>
    <script src="/js/prism.js"></script>

<%- include('../partials/footer.ejs') %>